* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.auth-wrapper {
  background: linear-gradient(#3360a5, #37a7ec);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border-radius: 12px;
  /* margin: 2rem; */
  /* border: 2px solid red; */
}
.form__control {
  position: relative;
  padding: 1.5rem 0;
}
.form__label {
  position: absolute;
  top: 2px;
  font-weight: bold;
}
.form__input {
  padding: 0.5rem;
  width: 100%;
  border: 0.1px solid hsla(0, 0%, 50%, 0.397);
  border-radius: 3px;
}
.form__input:focus {
  outline-color: #37a7ec;
}
.form__checkbox label {
  margin-left: 5px;
}
.signup__header {
  margin-bottom: 1rem;
  text-align: center;
}
.btn {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: hsl(204, 100%, 50%);
  border: 0;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}
small > a:visited {
  color: hsl(204, 100%, 50%);
}
small {
  text-align: end;
}
.footer-text {
  font-weight: 700;
  margin-top: 1rem;
}
.footer-text > a:visited {
  color: hsl(204, 100%, 50%);
}
